:root {
    --logo-background: #FCF6F1;
    --logo-blue: #249ac9;
    --logo-orange: #f97d0c;
}

html {
    background-color: var(--logo-background);
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

#header-container {
    display: flex;
    align-items: center;
}

#logo-container img {
    width: 200px;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    display: flex;
    padding: 20px;

    &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
}

#link-container li {
    display: flex;
    
}