:root {
    --logo-background: #FCF6F1;
    --logo-blue: #2A9ECA;
    --logo-orange: #ED760A;
}

html {
    background-color: var(--logo-background);
}

body {
    margin: 0;
    padding: 0;
}

#site-logo {
    width: 200px;
    height: auto;
    display: flex;
    margin-right: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

}

.header-link {

}

#main-header {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-bottom: 20px;
}