:root {
    --logo-background: #FCF6F1;
    --logo-blue: #2A9ECA;
    --logo-orange: #ED760A;
}

html {
    background-color: var(--logo-background);
}

body {
    margin: 0;
    padding: 0;
}

#site-logo {
    width: 200px;
    height: auto;
}

