:root {
    --logo-background: #FCF6F1;
    --logo-blue: #249ac9;
    --logo-orange: #f97d0c;
}

html {
    background-color: var(--logo-background);
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

#main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

#site-logo {
    width: 200px;
    height: auto;
    display: flex;
    margin-left: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

}

.header-link {
    
}

.nav-links {

}

